<h1>Sign in</h1>

<!-- creating a session for this page as it is signout -->
<div id="signinForm">
    <form action="/users/create-session" method="POST" id="signinFormId">
        <label for="signin-email">Email</label> 
        <input type="email" name="email" placeholder="Enter Email" id="signin-email" required> <br>
        <label for="signin-pwd">Password</label>
        <input type="password" name="password" placeholder="Enter Your Password" id="signin-pwd" required> <br>
        <input type="submit" value="Sign In" id="signin-button">
    </form>
</div>


    <p id="p-desc">or you can sign in with</p>
    
    
    <div id="g-link">
        <a href="/users/auth/google" > <i class="fab fa-google"></i> </a>
    </div>