<link rel="stylesheet" href="/css/signup.css">

<div class="split-screen">
    <div class="left">
        <section class="copy">
            <h1>Explore Creativity</h1>
            <p>Interact with your friends and stay tuned</p>
        </section>
    </div>
    
    
    <div class="right">
        
        <form action="/users/create" method="POST">
            <section class="copy">
                <h2>Sign Up</h2>
                <div class="login-container">
                    <p>Already have an account? <strong style="color: white;"> Sign In</strong></p>
                </div>
            </section>
            <div class="input-container name">
                <label for="name1">Full Name</label>
                <input type="text" name="name" placeholder="Your Name" id="name1" required>
            </div>
            <div class="input-container email">
                <label for="email1">Email</label>
                <input type="email" name="email" placeholder="Your Email" id="email1" required>
            </div>
            <div class="input-container password">
                <label for="pwd1">Password</label>
                <input type="password" name="password" placeholder="At least 6 Characters" id="pwd1" required>
            </div>
            <div class="input-container password cpassword">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" placeholder="Same as your above Password" id="confirm_password" required>
            </div> 
            <input type="submit" value="Sign Up" onclick="console1();">
        </form>
        
    </div>
</div>


<script>
    let nm=document.getElementById('name1');
        let em=document.getElementById('email1');
    function console1(){
        localStorage.setItem("name",nm.value);
        localStorage.setItem('Email',em.value);
        console.log(nm.value,em.value);
    }
</script>

