<h1>User Sign UP</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" id="name1" required>
    <input type="email" name="email" placeholder="Your Email" id="email1" required>
    <input type="password" name="password" placeholder="Your Password" id="pwd1" required>
    <input type="password" name="confirm_password" placeholder="Confirm Your Password" required>
    <input type="submit" value="Sign Up" onclick="console1();">
</form>

<script>
    let nm=document.getElementById('name1');
        let em=document.getElementById('email1');
    function console1(){
        localStorage.setItem("name",nm.value);
        localStorage.setItem('Email',em.)
        console.log(nm.value,em.value);
    }
</script>