#home-container{
    color: black;
    display: flex;
    text-align: center;
    #feed-posts{
        width: 80%;
        padding: 10px;
    }
    #post_head_form,#new-post-form{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        p{
            color: white;
            font-size: 1.2rem;
            // width: 15rem;
        }
    }
    #new-post-form{
        width: 40%;
        textarea{
            border-radius: 5px;
        }
        textarea:focus{
            outline: none;
        }
    }

    #user-friends{
        width: 20%;
        padding: 10px;
        border-left: 1px solid lightgray;
    }
    #posts-list-container{
        height: 50vh;
        overflow: scroll;
        background-color: white;
        color: black;
        overflow-x: hidden;
        align-self: center;
        margin: auto;

        ul li{
            width: 100%;
        }

        #posts_lists_id{
            color: black;
        }
    }
    
    #user-friends{
        overflow: scroll;
        overflow-x: hidden;
    }
}

















// #posts-list-container{
//     background-color: yellow; 
//     height: 20vh;
//     overflow: scroll;
//     overflow-x: hidden;
// }

// li{
//     list-style: none;
// }

// #user-friends h4{
//     height: 3rem;
//     background-color: red;
// }

// #user-friends{
//     border: 2px solid black;
//     background-color: yellow; 
//     height: 20vh;
//     overflow: scroll;
//     overflow-x: hidden;
// }