#home-container{
    display: flex;
    text-align: center;
    #feed-posts{
        width: 80%;
        padding: 10px;
    }
    #user-friends{
        width: 20%;
        padding: 10px;
        border-left: 1px solid lightgray;
    }
    #posts-list-container{
        height: 35vh;
        overflow: scroll;
        background-color: white;
        color: black;
        overflow-x: hidden;
        width: 30rem;
        align-self: center;
        margin: auto;
        // margin-left: 15rem;
    }
    #user-friends{
        overflow: scroll;
        overflow-x: hidden;
    }
}

















// #posts-list-container{
//     background-color: yellow; 
//     height: 20vh;
//     overflow: scroll;
//     overflow-x: hidden;
// }

// li{
//     list-style: none;
// }

// #user-friends h4{
//     height: 3rem;
//     background-color: red;
// }

// #user-friends{
//     border: 2px solid black;
//     background-color: yellow; 
//     height: 20vh;
//     overflow: scroll;
//     overflow-x: hidden;
// }